.backGround {
  margin-left: 0px;
  background-color: rgb(61, 60, 60);
  height: 190px;

}

.footer {
  height: 100%;
  margin: 0 auto;
  width: 80%;
  min-width: 1200px;
  color: white;

}
.itemFont{
  color: white;
}