.a {
    width: 100%;
    background-color: white;
}

.backGround {
    background-color: #fff;
    box-shadow: 0px 12px 20px 0px rgba(195, 194, 194, 0.4);
    height: 47px;

}

.header {
    height: 100%;
    margin: 0 auto;
    width: 1200px;
}

.menu {
    float: left;
    height: 47px;
}

.search {
    float: right;
    margin: 5px 7% 5px 5%;
}

.avatar {
    float: right;
}

.lylogo {
    height: 100%;
    float: left;
}