body {
  background-color: #f6f4f4;
}

.home {
  width: 80%;
  margin: 1% auto
}

.informationDisplayColumn {
  width: 100%;
  min-width: 800px;
  margin: 1% auto;
  display: flex;
}

.contentStyle {
  text-align: center;
  height: 360px;
  line-height: 160px;
  background: #364d79;
  overflow: hidden;
  width: 100%;
  color: white;
}

.carousel {
  flex: 2;
  float: right;
  overflow: hidden;
}

.breadcrumb {
  flex: 1;
  height: 360px;
  min-width: 400px;
  margin-right: 1%;
  border-radius: 10px;
  background-color: white;
}

.breadcrumbItem {
  white-space: nowrap;
  margin: 5% 3%;

}

.breadcrumbFirstItem {
  color: black;
}

.courseShow {
  width: 100%;
  margin-bottom: 100px;
}

.card {
  float: left;
  margin: 1% 0 0 1%;
}