.contentStyle {
  text-align: center;
  height: 360px;
  line-height: 160px;
  background: #364d79;
  overflow: hidden;
  width: 100%;
  color: white;
}

.carousel {
  flex: 2;
  float: right;
  overflow: hidden;
}

.breadcrumb {
  flex: 1;
  height: 360px;
  /* background-color: black; */
  /* overflow: hidden ; */
}

.breadcrumbItem {
  white-space: nowrap;
  margin: 5% 3%;

}

.breadcrumbFirstItem{
  color: black;
}

.home {
  width: 80%;
  min-width: 800px;
  margin: 1% auto;
  display: flex;
}