.logIn {
  float: right;
  margin: 7px 30px;
  line-height: 46px;
}

.loginForm {
  width: 300px;

}

.loginFormForgotRight {
  float: right;
}

.loginFormForgot {
  float: left;
}

.loginFormButton {
  width: 100%;
}

.icon {
  line-height: 32px;
margin: 8px;
}

.input {
  float: right;
}